$header_pink_color: #ffb8ca;
$main_light_pink_color: #fff5f6;
$main_red_color: #d41443;
$light_grey_bg_color: #e5e5e5;
$ice_cofee_color: #f0d1a5;
$milkshake_color: #c2e297;

$black: #000;
$white: #fff;

$font_grey_color: #907e82;
$font_pink_color: #ffa5ba;

$locations_box_shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
