$header_bg_color: #ffb8ca;
$mobile_menu_bg_color: #e17992;
$main_bg_color: #fff5f6;

$main_accent_color: #d41443;

$ice_coffee_color: #f0d1a5;
$milkshake_color: #c2e297;

$black: #000;
$white: #fff;

$font_description_color: #907e82;
$font_theme_color: #ffa5ba;

$footer_icons_color: #fea5bb;
$footer_border_color: #e1e1e1;

$locations_box_shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
