<section class="section-about section-wrapper">
        <div class="container">
            <div class="about-subtitle">
                <h3 class="about-title_1">tradition and love</h3>
                <h1 class="about-title_2">how it’s made?</h1>
            </div>
    
            <div class="about-images">
                <img
                srcset="./images/mobile_cow1x.jpg 1x, ./images/mobile_cow2x.jpg 2x" 
                src="./images/cow-tablet.png" alt="how it’s made?" class="about-images-item">
            </div>
    
            <div class="about-description-button">
                <p class="about-description_1">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                    cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
                    justo fringilla.
                </p>
                <p class="about-description_2">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                    Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
                    suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.
                </p>
                <p class="about-description_3">
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
    
                <button class="about-button" type="button">
                    <span class="about-button-title">Read&nbsp;more</span>
                    <svg class="about-images_svg" height="8" width="8">
                        <use href=""></use>
                    </svg>
                </button>
            </div>
    
            <ul class="about-list">
                <li class="about-list-item">
                    <strong class="about-item-namber">721</strong>
                    <p class="about-item-text">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </li>
                <li class="about-list-item">
                    <strong class="about-item-namber">16kg</strong>
                    <p class="about-item-text">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </li>
                <li class="about-list-item">
                    <strong class="about-item-namber">84</strong>
                    <p class="about-item-text">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </li>
            </ul>
        </div>
</section> 