<section class="hero-header">
    <header class="header">
        <div class="container">
            <a class="logo" href="./">
                <img class="logo__icon" src="./images/mobile_logo.webp" alt="logo">
            </a>
            <button type="button" class="burger" data-menu-open>
                <svg class="burger__icon" width="24" height="16">
                    <use href="./images/sprite-header.svg#icon-Burger"></use>
                </svg>
            </button>
        </div>
    </header>
</section>