<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body> -->
<section class="hero-header">
    <header class="header">
        <div class="container">
            <a class="logo" href="./">
                <img class="logo__icon" src="../images/mobile_logo.webp" alt="logo">
            </a>
            <button type="button" class="burger" data-menu-open>
                <svg class="burger__icon" width="24" height="16">
                    <use href="../images/sprite-header.svg#icon-Burger"></use>
                </svg>
            </button>
        </div>
    </header>
</section>


<!-- </body>

</html> -->