<section class="locations">
    <div class="container">
        <h2 class="locations__title">Location</h2>
        <ul class="locations-list">
            <li class="locations-list__item">
                <div>
                <p>CAFE</p>
                </div>
                <div>
                    <p>Chicago</p>
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div>
                <div>
                    <p>Monday - Friday</p>
                    <p>06:00 AM - 10:00 PM</p>
                </div>
                <div>
                    <p>Saturday - Sunday</p>
                    <p>08:00 AM - 16:00 PM</p>
                </div>
                </div>
                <address>
                    <ul class="locations-address-list">
                        <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </address>
            </li>
                
            <li class="locations-list__item">
                <div>
                <p>FOODTRUCK</p>
                </div>
                <div>
                    <p>Los Angeles</p>
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div>
                <div>
                    <p>Monday - Friday</p>
                    <p>06:00 AM - 10:00 PM</p>
                </div>
                <div>
                    <p>Saturday - Sunday</p>
                    <p>08:00 AM - 16:00 PM</p>
                </div>
                </div>
                <address>
                    <ul class="locations-address-list">
                        <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </address>
            </li>
                
            <li class="locations-list__item">
                <div>
                <p>CAFE</p>
                </div>
                <div>
                    <p>New York</p>
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div>
                <div>
                    <p>Monday - Friday</p>
                    <p>06:00 AM - 10:00 PM</p>
                </div>
                <div>
                    <p>Saturday - Sunday</p>
                    <p>08:00 AM - 16:00 PM</p>
                </div>
                </div>
                <address>
                    <ul class="locations-address-list">
                        <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                    </ul>
                </address>
            </li>
        </ul>
    <ul class="buttons">
    <li>
    <button type="button" class="main-button--red main-button"> 
        <div class="button-flex">
        <span class="button-text button-text--white">Our<span class="button-padding">Locations</span></span>
        <svg height="8" width="5">
        <use href=""></use>
    </svg>
    </div>
  </button></li>
    <li>
    <button type="button" class="main-button--white main-button">
        <div class="button-flex">
        <span class="button-text button-text--red">Franchise</span>
        <svg height="8" width="5">
        <use href=""></use>
      </svg>
    </div>
  </button>
    </li>
    </ul>
</section>
