<section class="products">
 <div class="container">
     <p class="product-lable">100 natural</p>
     <h2 class="products-title">products</h2>

<ul class="products-list list">
  <li class="products-item products-item--ice-cream">
      <a href="#" class="products-link">
        <picture>
        
            <source media="(min-width: 480px)" srcset="./images/mobile_ice_cream.webp 1x">
        
            <img class="" src="./images/mobile_ice_cream.webp" alt="an ice cream in a waffle cup">
        </picture>
          
        <div class="puducts-wrapper">
            <h3 class="products-heading decoration dec">ice cream</h3>
            <p class="products-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
            <button class="button products-btn"></button>
        </div>
        
  </a>
</li>

  <li class="products-item products-item--ice-coffee">
      <a href="#" class="products-link">
        <picture>
        
            <source media="(min-width: 480px)" srcset="./images/mobile_ice_coffee.webp 1x">
        
            <img class="" src="./images/mobile_ice_coffee.webp" alt="an ice cream in a waffle cup">
        </picture>
        <div class="puduct-wrapper">
            <h3 class="products-heading">ice coffee</h3>
            <p class="products-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
            <button class="button products-btn"></button>
        </div>
</a>
</li>

  <li class="products-item products-item--milkshakes">
    <a href="#" class="products-link">
        <picture>
        
            <source media="(min-width: 480px)" srcset="./images/mobile_milkshake.webp 1x">
        
            <img class="" src="./images/mobile_milkshake.webp" alt="a glass of chockolate milkshake">
        </picture>
        <div class="puduct-wrapper">
            <h3 class="products-heading">milkshakes</h3>
        <p class="products-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
        <button class="button products-btn"></button>
    </div>
    </a>
</li>
</ul>

</div>
</section>
