.buttons {
  @include margin-x(0, 31.5%);
}

.button-flex {
  display: flex;
}

.button-padding {
  padding-left: 5px;
}

.main-button {
  cursor: pointer;
  height: 44px;
  border: none;
  @include width(161px);

  &--red {
    background: $main_accent_color;
    border-radius: 22px;
  }
  &--white {
    background: $white;
    border-radius: 22px;
  }
}

.button-text {
  display: flex;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3px;
  align-items: center;
  text-align: center;

  &--red {
    color: $main_accent_color;
  }
  &--white {
    color: $white;
  }
}
