.button-flex {
  display: flex;
  height: 100%;
}

.button-padding {
  padding-left: 5px;
}

.main-button {
  cursor: pointer;
  height: 44px;
  border: none;
  @media screen and (min-width: 480px) {
    @include width(161px);
  }

  @media screen and (min-width: 768px) {
    @include width(191px);
  }

  @media screen and (min-width: 1280px) {
    @include width(198px);
  }

  &--red {
    background: $main_accent_color;
    border-radius: 22px;
    &:hover {
      background-color: $focus-btn;
      transition: background-color $cubic-hover;
    }
  }
  &--white {
    background: $white;
    border-radius: 22px;
    &:hover {
      background-color: $focus-second-btn;
      transition: background-color $cubic-hover;
    }
  }
}

.button-text {
  display: flex;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3px;
  align-items: center;
  text-align: center;

  &--red {
    color: $main_accent_color;
  }
  &--white {
    color: $white;
  }
}
