body {
  font-family: 'Titan One', Arial;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container{
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @media screen and (min-width: 768px){
      padding-left: 34px;
      padding-right: 34px;
  }
  @media screen and (min-width: 1280px){
      padding-left: 115px;
      padding-right: 115px;
      width: 1280px;
  }
}