.locations {
  background-color: $main_bg_color;
}
.locations-list {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;

  &--grey-color {
    color: $font_description_color;
  }

  &--pink-color {
    color: $font_theme_color;
  }

  &--margin-bottom {
    margin-bottom: 25px;
  }

  &__box {
    height: 16px;
    width: 80px;
    background-color: $ice_coffee_color;
    color: $white;
    border-radius: 4px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  &__box-foodtruck {
    width: 130px;
    height: 16px;
    background-color: $milkshake_color;
    color: $white;
    border-radius: 4px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  &__item {
    background-color: $white;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    width: 220px;
  }
  &__card {
    padding: 43px 21px 43px 20px;
  }

  &__card-title {
    margin-bottom: 10px;
  }

  &--border {
    border-bottom: 1px solid $font_description_color;
  }

  &--padding {
    padding-bottom: 25px;
  }

  &--padding-top {
    padding-top: 25px;
  }
}
