.products {
  background-color: $white;

  padding-top: 121px;
  padding-bottom: 98px;
}

.product-lable {
  color: $font_theme_color;

  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;
}

.products-title {
  margin-bottom: 111px;

  color: $main-accent-color;

  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.products-list {
  //   display: flex;
  //   justify-content: center;
}

.products-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 144px;
  margin-left: auto;
  margin-right: auto;

  width: 280px;
  height: 485px;

  border-radius: 24px;

  &.products-item--ice-cream {
    position: relative;
    background-color: $header_bg_color;
    margin-bottom: 17px;
  }
  &.products-item--ice-coffee {
    position: relative;
    background-color: $ice_coffee_color;
    margin-bottom: 16px;
  }
  &.products-item--milkshakes {
    position: relative;
    background-color: $milkshake_color;
  }
}

.products-item--ice-cream::before {
  position: absolute;

  top: 0;
  left: 50%;
  transform: translate(-50%, -45%);

  z-index: 100;
  display: block;
  content: '';
  width: 249px;
  height: 252px;
  background-image: url(/images/products/ice-cream_mobile.png);

  background-size: contain;
  background-repeat: no-repeat;
}

// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .products__item--first::before {
//     background-image: url();
//   }
// }

.products-heading {
  position: relative;
  color: #ffffff;

  font-weight: 400;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.products-heading.decoration::after {
  content: '';
  position: absolute;
}

.products-description {
  color: #ffffff;

  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;

  text-align: center;
  letter-spacing: 0.04em;
}

.products-description::before {
  content: '';
  display: block;
  width: 26px;
  height: 6px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  background-image: url(/images/products-decoration.png);
}

.products-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
