.hero-header {
  background-color: #ffb8ca;
  height: 502px;
}
.header {
  position: relative;
}
.header__box {
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  justify-content: space-between;
}
// .header__container {
//   width: 100%;

//   background-image: url('/src/images/desk-ice-cream-1.png'), url('/src/images/Ellipse.png');
// }
// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .header__container {
//     background-image: url('/src/images/Ellipse.png'), url('/src/images/Ellipse@2x.png');
//   }
// }
.burger {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.buy-now__btn {
  display: none;
}
.navigation {
  display: none;
}
.hero__title-container {
  height: 106px;
  padding-left: 20px;
}
.hero__title {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  line-height: 100%;

  vertical-align: top;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 137px;
}
.hero__title_color {
  font-family: Titan One, sans-serif;
  font-weight: 400px;
  font-size: 48px;
  line-height: 0.96;

  vertical-align: top;
  color: #d41443;
  opacity: 3;
  display: block;
  padding-top: 8px;
}
.hero__number-loc {
  display: none;
}
.hero__button {
  display: flex;
  margin-top: 19px;
  padding-left: 20px;
}
.hero__button-item {
  width: 61.2px;
  height: 24px;
  border-radius: 20px;
  background-color: #d41443;
  text-align: center;
}
.hero__button-item_white {
  width: 82.8px;
  background-color: #ffffff;
  margin-left: 8px;
}
.hero__button-link {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.3;

  vertical-align: center;
  color: #ffffff;
}
.hero__button-link_red {
  color: #d41443;
}
.hero__text-block {
  display: none;
}
.hero__pic-item {
  display: none;
  position: absolute;
  top: 92px;
  right: 32px;
}
.menu__link {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  line-height: 100%;
  vertical-align: Center;
  color: #ffffff;
}
